[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = http://github.com/fuel/orm.git
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = http://github.com/fuel/auth.git
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = http://github.com/fuel/oil.git
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = http://github.com/fuel/parser.git
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = http://github.com/fuel/email.git
[submodule "fuel/core"]
	path = fuel/core
	url = http://github.com/fuel/core.git
[submodule "fuel/packages/messages"]
	path = fuel/packages/messages
	url = https://github.com/jhuriez/fuel-messages.git
